body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ffe6eb, #fff1f5, #ffe0ec);
    text-align: center;
    color: #b03060;
}


.top-quote {
    padding: 60px 20px 40px 20px;
    font-size: 24px;
    font-style: italic;
    color: #c71585;
}


.scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-bottom: 80px;
}


.big-box {
    width: 60%;
    padding: 40px;
    font-size: 28px;
    text-decoration: none;
    background: #ffffffcc;
    color: #d63384;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(255, 105, 180, 0.2);
    transition: 0.4s;
}

.big-box:hover {
    transform: translateY(-10px);
    background: #fff0f6;
    box-shadow: 0 15px 30px rgba(255, 105, 180, 0.3);
}

/* Middle Quotes */
.mid-quote {
    font-style: italic;
    font-size: 18px;
    max-width: 600px;
    color: #ad1457;
}
